h1 {
    color: #0960a8;
}

h2 {
    color: #FCB037;
}

.speaker {
    text-align: center;
}

body {
    background-color: #0960a8; 
}

.main {
    background-color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 25px;
}

.header {
    padding-top: 25px;
    text-align: left;
    margin-bottom: 25px;
}

.headerLink {
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    color: #0960a8;

}

.headerLink:hover {
    color: #0960a8;
    
}

.headerBox {
    text-align: right;
}

.footer {
    text-align: center;
    margin-top: 25px;
}


.accountBar {
    background-color: #FCB037;
    margin-bottom: 10px;
    height: 28px;
    line-height: 26px;
}

.accountBarBox a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.accountBarBox a:hover {
    color: black;
}

.accountBarSearch {
    text-align: right;
}


.mastheadTop {
    text-align: center;
}

.mastheadTop h1 {
    margin-bottom: -5px;
}

.speakerInfo {
    padding: 10px 10px 10px 10px;
    border: #0960a8 solid medium;
    width: 300px;
    height: 350px;
    position: absolute;
    background-color: white;
}

.left {
    height: 500px;
}

.right {
    padding-top: 50px;
    height: 500px;
}

.map_canvas {
    vertical-align: middle;
}

.searchResults {
    overflow-y: auto;
    height: 400px;
}

.kioskSearch {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: black solid thin;    
}

.kioskListItem {
    list-style-type: none;
    border-bottom: black solid thin;
    margin-bottom: 15px;
    margin-left: -40px;
    list-style-position: outside;
}

.kioskLink {
    text-decoration: none;
    color: #0960a8;
    cursor: default;
}

.kioskLink:hover {
    color: #FCB037;
    cursor: default;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 0px;
    margin-bottom: 10px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

.speakerDetailsLeft {
    text-align: right;
}

.speakerDetailsLeft img {
    padding-right: 25px;
    padding-top: 28px;
}

.speakerDetailsLeft p {
    padding-right: 30px;
    padding-top: 15px;
}

.speakerDetailsLeft p a {
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
    color: #0960a8;    
}

.speakerDetailsRight h1 {
    margin-top: 25px;
    margin-bottom: 1px;
}

.speakerDetailsRight p {
    padding-right: 100px;
    text-align: justify;
}



.reserveCost table {
    width: 30%;
}

.reserveCost table tr td {
    text-align: left;
}